nav{
	width: 100%;
}
a{
	width: 12%;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin:1%;
	padding:1%;
	position: top 10px relative;
	font-size: 130%;
	text-align: center;
}
body{
	background-color: black;
}
a:hover{
	transition: 1s ease;
	color: red;
}
